/*  Primary Colors  */
// Text Colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
// Background Gradient Colors
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

/*  Neutral Colors    */
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

:root {
    // Primary Colors
    //Text
    --very-dark-desaturated-blue: #{$very-dark-desaturated-blue};
    --soft-red: #{$soft-red};
    //Background Gradient
    --soft-violet: #{$soft-violet};
    --soft-blue: #{$soft-blue};
    // Neutral Colors
    --very-dark-grayish-blue: #{$very-dark-grayish-blue};
    --dark-grayish-blue: #{$dark-grayish-blue};
    // Dividers
    --light-grayish-blue: #{$light-grayish-blue};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, var(--soft-blue), var(--soft-violet));
}

.wrapper {
    padding: 20px;
    .container {
        max-width: 768px;
        margin: auto;
    }
}

details {
    max-height: 3rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    transition: all 1s;
    padding: 5px 0px;
    margin: 0.3rem 0;
}

details[open] {
    max-height: 100vh;
    h3 {
        font-weight: 700;
    }
    .faq__icon img {
        transform: rotateZ(180deg);
    }
    
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.faq {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 15px;
}

.faq__title {
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
}

.faq__item__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s;
    cursor: pointer;
    h3 {
        color: var(--very-dark-desaturated-blue);
        font-size: 1rem;
        font-weight: 400;
        transition: all .5s;
    }
}

.faq__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -35px 60px;
}

.image__container {
    position: relative;
    
    img {
        &:nth-child(1) {
            margin-left: -60px;
        }
        &:nth-child(2) {
            position: absolute;
            width: 100px;
            top: 50%;
            left: 0;
            transform: translate(-50%, -10%);
        }
    }
}

.image-overflow {
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
}

.faq__questions {
    padding: 0 73px 0 0;
    margin: 30px 0;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq__accordion {
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 5px 0px;
}

.faq__icon img {
    transition: all .5s;
}

.faq__text {
    padding: 10px 0px;
    line-height: 1.3;
    color: var(--very-dark-grayish-blue);
}

@media screen and (min-width: 601px) {
    .faq__image {
        background-image: url('../images/bg-pattern-desktop.svg');
        background-position: -35px 60px;
    }
}

@media screen and (max-width: 600px) {
    .faq {
        flex-direction: column;
        margin-top: 148px;
    }
    .faq__questions {
        padding: 0 10px;
    }
    .faq__image {
        background-image: url('../images/bg-pattern-mobile.svg');
        background-size: 200px;
        background-position: 50% 0;
    }
    .faq__title {
        h1 {
            text-align: center;
        }
    }
    .image__container {
        position: relative;
        top: 0;
        transform: translate(0, -92px);
        img {
            &:nth-child(1) {
                position: relative;
                margin: 0;
                padding: 0;
                top: 0;
            }
            &:nth-child(2) {
                width: 80px;
                top: 50%;
                left: 0;
                transform: translateX(2%);
            }
        }
    }
    .image-overflow {
        overflow: visible;
    }
}